{# templates/aeroport/list.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}List of Airports{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block body %}
    <h1>List of Airports</h1>
    <table class="airport-list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>City</th>
                <th>Actions</th> {# New column for the Update button #}
            </tr>
        </thead>
        <tbody>
            {% for aeroport in aeroports %}
                <tr>
                    <td>{{ aeroport.id }}</td>
                    <td>{{ aeroport.nom }}</td>
                    <td>{{ aeroport.ville }}</td>
                    <td>
                        <a href="{{ path('aeroport_edit', {id: aeroport.id}) }}" class="btn-update">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
